<!-- Applications:               -->
<!--  ○ operationsMetrics (home) -->
<!--  ○ packagesPerHour          -->
<!--  ○ DEX                      -->
<!--  ○ volumeAvailabilityStatus -->

{% extends "default.html" %}

{% block content %}
  <h1>FedEx Operations Metrics</h1>
  <p>Welcome to FedEx Operations Metrics</p>
  <h2>Dynamic content</h2>
  <p>Total (Test) Counts for Metrics:</p>
  <ul>
    <li><strong>Packages per Hour:</strong> {{ numPackagesPerHour }}</li>
    <li><strong>Exceptions:</strong> {{ numExceptions }}</li>
    <li><strong>DEX:</strong> {{ numDEX }}</li>
    <li><strong>Volume Availability Status:</strong> {{ numVolAvailStats }}</li>
  </ul>
{% endblock %}

<!-- Add additional CSS in static file -->
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}" />

{% load static %}
<!-- How to specify the location of an image: -->
<!-- <img src="{% static 'exampleName.png' %}" alt="Example Alternative Text" style="width:100px;height:100px;" /> -->