{% extends 'opMetrics/base.html' %}

{% block content %}
<!-- Static CSS Files -->
{% load static %}
<link href="{% static 'css/sidebars.css' %}" rel="stylesheet">
<!-- Static CSS Files -->



<!-- Packages Per Hour Style -->
<style>
  .homeCard {
    color: #000000;
    background-color: #f5f5f5;
    border: solid 1px #8B50A8;
  } 
  .moreInfoBtn {
    color: #ffffff;
    background-color: #ff6200;
    border-color: #ff6200;
    border-radius: 0px;
    font-weight: 500;
  } 
  .moreInfoBtn:hover {
    color: #ffffff;
    background-color: #ff6200;
    border-color: #ff6200;
    border-radius: 0px;
    font-weight: 500;
    transform: scale(1.02,1.06);
  } 
  .moreInfoBtn:active {
    background-color: #ff6200;
    border-color: #ff6200;
    transform: scale(1.02,1.06);
  } 
  .moreInfoBtn:focus {
    background-color: #ff6200;
    border-color: #ff6200;
    box-shadow: 0 0 0 0rem rgba(255, 255, 255, 0);
  } 
  .moreInfoBtn:disabled {
    background-color: #ff6200;
    border-color: #ff6200;
    pointer-events: none;
    opacity: 0.65;
  } 
  .homeListItem {
    color: #000000;
    background-color: #f5f5f5;
    border-color: #f5f5f5;
  }
  .homeBadge {
    color: #ffffff;
    background-color: #4d148c !important;
    border-color: #ff6200;
  }
</style>
<!-- Packages Per Hour Style -->



<!-- SVG Files -->
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="bootstrap" viewBox="0 0 118 94">
    <title>Bootstrap</title>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z"></path>
  </symbol>
  <symbol id="bar-chart" viewBox="0 0 16 16">
    <path d="M4 11H2v3h2v-3zm5-4H7v7h2V7zm5-5v12h-2V2h2zm-2-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1h-2zM6 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm-5 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3z"/>
  </symbol>
  <symbol id="exclamation-circle" viewBox="0 0 16 16">
    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
    <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
  </symbol>
  <symbol id="box-seam" viewBox="0 0 16 16">
    <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2l-2.218-.887zm3.564 1.426L5.596 5 8 5.961 14.154 3.5l-2.404-.961zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
  </symbol>
</svg>
<!-- SVG Files -->



<!-- Home Page Content -->
<div class="container px-4 py-5" id="locationContainer">
  <!-- Title -->
  <h2>{{todayStr}} at a Glance:</h2>
  <h5 class="pb-2 border-bottom" style="color:#999999">Location: CEFA</h5>
  <!-- Title -->

    <!-- Home Page Cards -->
    <!-- Row 1 -->
    <div class="row p-2 rounded">

      <!-- Packages Per Hour Card -->
      <div class="col-sm-6">
        <div class="homeCard card">
          <div class="card-body">

            <!-- Packages Per Hour Card Title -->
            <h5 class="card-title"><svg class="bi" width="1em" height="1.5em" role="button"><use xlink:href="#box-seam"/></svg>  Packages Per Hour</h5>
            <!-- Packages Per Hour Card Title -->

            <!-- Packages Per Hour Card Content -->
            <p class="card-text">
              <li class="homeListItem list-group-item d-flex gap-3 align-items-start">
                 Total Packages:&nbsp;&nbsp;&nbsp;
                <span class="homeBadge badge bg-primary rounded-pill">72104</span>
              </li>
              <li class="homeListItem list-group-item d-flex gap-3 align-items-start">
                Average Packges:
                <span class="homeBadge badge bg-primary rounded-pill">8011</span>
              </li>
              <li class="homeListItem list-group-item d-flex gap-3 align-items-start">
                Weekly Average:&nbsp;
                <span class="homeBadge badge bg-primary rounded-pill">7501</span>
              </li>
            </p>
            <!-- Packages Per Hour Card Content -->

            <!-- More Info Button -->
            <a class="moreInfoBtn btn rounded btn-sm mb-auto" href="/packagesPerHour/company/{{ today }}/{{ today }}">More Info</a>
            <!-- More Info Button -->

          </div>
        </div>
      </div>
      <!-- Packages Per Hour Card -->

      <!-- Delivery Exceptions Card -->
      <div class="col-sm-6">
        <div class="homeCard card">
          <div class="card-body">

            <!-- Delivery Exceptions Card Title -->
            <h5 class="card-title"><svg class="bi" width="1em" height="1.5em" role="button"><use xlink:href="#exclamation-circle"/></svg>  Delivery Exceptions</h5>
            <!-- Delivery Exceptions Card Title -->

            <!-- Delivery Exceptions Card Content -->
            <p class="card-text">
              <li class="homeListItem list-group-item d-flex gap-3 align-items-start">
                Total Exceptions:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="homeBadge badge bg-primary rounded-pill">1548</span>
              </li>
              <li class="homeListItem list-group-item d-flex gap-3 align-items-start">
                Average Exceptions:
                <span class="homeBadge badge bg-primary rounded-pill">172</span>
              </li>
              <li class="homeListItem list-group-item d-flex gap-3 align-items-start">
                Percent Exceptions:&nbsp;
                <span class="homeBadge badge bg-primary rounded-pill">0.021%</span>
              </li>
            </p>
            <!-- Delivery Exceptions Card Content -->

            <!-- More Info Button -->
            <a class="moreInfoBtn btn rounded btn-sm mb-auto" href="{% url 'dex' %}">More Info</a>
            <!-- More Info Button -->

          </div>
        </div>
      </div>
      <!-- Delivery Exceptions Card -->

    </div>
    <!-- Row 1 -->
    
    <!-- Row 2 -->
    <div class="row p-2 rounded">

      <!-- Volume Availability Status Card -->
      <div class="col-sm-6">
        <div class="homeCard card">
          <div class="card-body">

            <!-- Volume Availability Status Card Title -->
            <h5 class="card-title"><svg class="bi" width="1em" height="1.5em" role="button"><use xlink:href="#bar-chart"/></svg>  Volume Availability Status</h5>
            <!-- Volume Availability Status Card Title -->

            <!-- Volume Availability Status Card Content -->
            <p class="card-text">
              <li class="homeListItem list-group-item d-flex gap-3 align-items-start">
                Vehicles on Time:&nbsp;
                <span class="homeBadge badge bg-primary rounded-pill">413</span>
              </li>
              <li class="homeListItem list-group-item d-flex gap-3 align-items-start">
                Vehicles Early:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="homeBadge badge bg-primary rounded-pill">45</span>
              </li>
              <li class="homeListItem list-group-item d-flex gap-3 align-items-start">
                Vehicles Delayed:&nbsp;
                <span class="homeBadge badge bg-primary rounded-pill">45</span>
              </li>
            </p>
            <!-- Volume Availability Status Card Content -->

            <!-- More Info Button -->
            <a class="moreInfoBtn btn rounded btn-sm mb-auto" href="{% url 'vas' %}">More Info</a>
            <!-- More Info Button -->

          </div>
        </div>
      </div>
      <!-- Volume Availability Status Card -->

      <!-- Coming Soon... Card -->
      <div class="col-sm-6">
        <div class="homeCard card">
          <div class="card-body">

            <!-- Coming Soon... Card Title -->
            <h5 class="card-title"><svg class="bi" width="0em" height="1.5em" role="button"><use xlink:href="#exclamation-circle"/></svg>  Coming Soon...</h5>
            <!-- Coming Soon... Card Title -->

            <!-- Coming Soon... Card Content -->
            <p class="card-text">
              <li class="homeListItem list-group-item d-flex gap-3 align-items-start">
                &nbsp;
              </li>
              <li class="homeListItem list-group-item d-flex gap-3 align-items-start">
                &nbsp;
              </li>
              <li class="homeListItem list-group-item d-flex gap-3 align-items-start">
                &nbsp;
              </li>
            </p>
            <!-- Coming Soon... Card Content -->

            <!-- More Info Button -->
            <a class="moreInfoBtn btn rounded btn-sm mb-auto disabled" href="#">More Info</a>
            <!-- More Info Button -->

          </div>
        </div>
      </div>
      <!-- Coming Soon... Card -->

    </div>
    <!-- Row 2 -->

</div>
<!-- Home Page Content -->




{% endblock %}
