<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #4D148C;">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Operations Metrics</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/packagesPerHour/company/{{ today }}/{{ today }}">Packages Per Hour</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dex' %}">Delivery Exceptions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'vas' %}">Volume Availability Status</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'company' %}">Company</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
      </ul>
      <form class="d-flex" role="search" action="{% url 'search' %}" method="get">
        <input class="form-control me-2" name=q type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>