{% extends 'opMetrics/base.html' %}

{% block content %}
<!-- Static CSS Files -->
{% load static %}
<link href="{% static 'css/dropdowns.css' %}" rel="stylesheet" >
<!-- Static CSS Files -->



<!-- SVG Files -->
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="arrow-left-short" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
  </symbol>

  <symbol id="arrow-right-short" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
  </symbol>
</svg>
<!-- SVG Files -->



<!-- Packages Per Hour Content -->
<!-- Title -->
<div class="container-fluid pb-5" name="packagesperhour">
  <div class="d-flex px-5">
    <h2 class="pb-2 border-bottom" style="color:#000000;">Packages Per Hour</h2>
</div>
<!-- Title -->



<!-- Form Filter -->
<form role="filter" action="/packagesPerHour/{{ level1 }}/{{ level2 }}/{{ sDatePPH }}/{{ eDatePPH }}/" method="post">
  {% csrf_token %}

  <!-- Level Selection -->
  <div class="row mb-3">
    <h4>Level:</h4>
    <!-- Select Level 1 -->
    <label class="visually-hidden" for="autoSizingInputGroup">level1</label>
    <div class="input-group btn-sm mb-3" style="width: 250px;">
      <div class="input-group-text btn-sm mb-auto">Level 1:</div>
      <select class="selectPicker form-select form-select-sm mb-auto" name="level1">
        <option value="{{ level1 }}" selected>{{ level1 }}</option>
        <option value="company">Company</option>
        <option value="division">Division</option>
        <option value="region">Region</option>
        <option value="district">District</option>
        <option value="location">Location</option>
      </select>
    </div>
    <!-- Select Level 1 -->
  
    <!-- Select Level 2 -->
    <label class="visually-hidden" for="autoSizingInputGroup">filter2</label>
    <div class="input-group btn-sm mb-3" style="width: 250px;">
      <div class="input-group-text btn-sm mb-auto">Level 2:</div>
      <select class="form-select form-select-sm mb-auto">
        <option selected>{{ level2 }}</option>
        <option value="all">All</option>
        {% for option in level2List %}
        <option value="2">{{ option }}</option>
        {% endfor %}
      </select>
    </div>
    <!-- Select Level 2 -->

  </div>
  <!-- Level Selection -->

  <!-- Date Selection -->
  <div class="row mb-3">
    <h4>Date Range:</h4>
    <!-- Select Start Date -->
    <label class="visually-hidden" for="autoSizingInputGroup">startDate</label>
    <div class="input-group btn-sm mb-3" style="width: 250px;">
      <div class="input-group-text btn-sm mb-auto">Start Date:</div>
      <input class="form-control btn-sm" name="sDatePPH" type="date" value="{{ sDatePPH }}" placeholder="{{ sDatePPH }}">
    </div>
    <!-- Select Start Date -->

    <!-- Select End Date -->
    <label class="visually-hidden" for="autoSizingInputGroup">startDate</label>
    <div class="input-group btn-sm mb-3" style="width: 250px;">
      <div class="input-group-text btn-sm mb-auto">End Date:</div>
      <input class="form-control btn-sm" name="eDatePPH" type="date" value="{{ eDatePPH }}" placeholder="{{ eDatePPH }}">
    </div>
    <!-- Select End Date -->

    <!-- Submit -->
    <button class="btn btn-primary rounded btn-sm mt-1 mb-auto" style="width: 100px;" type="submit">Submit</button>
    <!-- Submit -->
  
  </div>
  <!-- Date Selection -->

</form>
<!-- Form Filter -->



<!-- Table -->
  <table class="table table-hover">

    <!-- Column Titles -->
    <thead>
      <tr>
        <th scope="col">Row #</th>
        <th scope="col">UUID</th>
        <th scope="col">Division</th>
        <th scope="col">Region</th>
        <th scope="col">District</th>
        <th scope="col">Location</th>
        <th scope="col">MM/DD/YY</th>
        <th scope="col">Status</th>
        <th scope="col">Type</th>
      </tr>
    </thead>
    <!-- Column Titles -->

    <!-- Table Rows -->
    <tbody>
      <script>var startCount = 1;</script>
      {% if dataRange %}
        {% for pph in page_obj %}
        <tr>
          <th name="{{ test }}" scope="row"><script>document.write(startCount); startCount = startCount + 1;</script></th>
          <td>123456</td>
          <td><a href="{{ pph.location.district.region.division.get_absolute_url }}">{{ pph.location.district.region.division }}</a></td>
          <td><a href="{{ pph.location.district.region.get_absolute_url }}">{{ pph.location.district.region }}</a></td>
          <td><a href="{{ pph.location.district.get_absolute_url }}">{{ pph.location.district }}</a></td>
          <td><a href="{{ pph.location.get_absolute_url }}">{{ pph.location }}</a></td>
          <td>{{ pph.date }}</td>
          <td>Delivered</td>
          <td>Actual</td>
        </tr>
        {% endfor %}
      {% else %}
        <p>There are no statistics in the database.</p>
      {% endif %}    
    </tbody>
    <!-- Table Rows -->

  </table>
<!-- Table -->

<!-- Pagination Buttons -->
  <div class="container-fluid">
    <nav aria-label="Page navigation">

      <!-- Buttons -->
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="/packagesPerHour/{{ level1 }}/{{ level2 }}/{{ sDatePPH }}/{{ eDatePPH }}/?page={{ page_obj.previous_page_number }}">&laquo;</a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link">&laquo;</a>
        </li>
        {% endif %}

        {% if page_obj.has_previous and page_obj.previous_page_number != 1 %}
        <li class="page-item">
          <a class="page-link" href="/packagesPerHour/{{ level1 }}/{{ level2 }}/{{ sDatePPH }}/{{ eDatePPH }}/?page=1">1</a>
        </li>
        {% endif %}

        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="/packagesPerHour/{{ level1 }}/{{ level2 }}/{{ sDatePPH }}/{{ eDatePPH }}/?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
        {% endif %}

        {% if page_obj.has_next or page_obj.has_previous %}
        <li class="page-item disabled"><a class="page-link">{{ page_obj.number }}</a></li>
        {% endif %}

        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="/packagesPerHour/{{ level1 }}/{{ level2 }}/{{ sDatePPH }}/{{ eDatePPH }}/?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
        {% endif %}

        {% if page_obj.has_next and page_obj.next_page_number != page_obj.paginator.num_pages %}
        <li class="page-item">
          <a class="page-link" href="/packagesPerHour/{{ level1 }}/{{ level2 }}/{{ sDatePPH }}/{{ eDatePPH }}/?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
        </li>
        {% endif %}

        {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="/packagesPerHour/{{ level1 }}/{{ level2 }}/{{ sDatePPH }}/{{ eDatePPH }}/?page={{ page_obj.next_page_number }}">&raquo;</a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link">&raquo;</a>
        </li>
        {% endif %}
      </ul>
      <!-- Buttons -->

    </nav>
  </div>
  <!-- Pagination Buttons -->

</div>
<!-- Packages Per Hour Content -->

<!-- Row Number Script -->
<script>
  function rowNum(row_number) {
    return row_number + 1;
  }

</script>
<!-- Row Number Script -->
{% endblock %}
