{% extends 'opMetrics/base.html' %}

{% block content %}
{% load static %}
<link href="{% static 'css/dropdowns.css' %}" rel="stylesheet" >

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="arrow-left-short" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
  </symbol>

  <symbol id="arrow-right-short" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
  </symbol>
</svg>

<div class="page-header">
<h1>Packages Per Hour</h1>
</div>
<h4>Level:</h4>
<div class="btn-group gap-2">
  <button type="button" class="btn btn-secondary dropdown-toggle rounded" data-bs-toggle="dropdown" aria-expanded="false">
    Level
  </button>
  <ul class="dropdown-menu rounded">
    <li><a class="dropdown-item" href="/packagesPerHour/company/{{ sDatePPH }}/{{ eDatePPH }}">Company</a></li>
    <li><a class="dropdown-item" href="/packagesPerHour/division/{{ sDatePPH }}/{{ eDatePPH }}">Division</a></li>
    <li><a class="dropdown-item" href="/packagesPerHour/region/{{ sDatePPH }}/{{ eDatePPH }}">Region</a></li>
    <li><a class="dropdown-item" href="/packagesPerHour/district/{{ sDatePPH }}/{{ eDatePPH }}">District</a></li>
    <li><a class="dropdown-item" href="/packagesPerHour/location/{{ sDatePPH }}/{{ eDatePPH }}">Location</a></li>
  </ul>
  <button type="button" class="btn btn-secondary dropdown-toggle rounded" data-bs-toggle="dropdown" aria-expanded="false">
    Option
  </button>
  <ul class="dropdown-menu rounded">
    <li><a class="dropdown-item" href="/packagesPerHour/location/all/{{ sDatePPH }}/{{ eDatePPH }}">All</a></li>
    {% for option in level2List %}
    <li><a class="dropdown-item" href="/packagesPerHour/{{ level1 }}/{{ option }}/{{ sDatePPH }}/{{ eDatePPH }}">{{ option }}</a></li>
    {% endfor %}
  </ul>
</div>

<h4>Date Range:</h4>
<form class="btn-group gap-2" role="search" action="/packagesPerHour/{{ level1 }}/{{ level2 }}/{{ sDatePPH }}/{{ eDatePPH }}/" method="post">
  {% csrf_token %}
  <div class="input-group input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="eDatePPHLabel">Start Date:</span>
    </div>
    <input class="form-control" name="sDatePPH" type="date" value="{{ sDatePPH }}" placeholder="{{ sDatePPH }}">
  </div>

  <div class="input-group input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="eDatePPHLabel">End Date:</span>
    </div>
    <input class="form-control" name="eDatePPH" type="date" value="{{ eDatePPH }}" placeholder="{{ eDatePPH }}">
  </div>

  <button class="btn btn-primary rounded btn-sm mb-3" type="submit">Submit</button>

</form>


<table class="table">
  <thead>
    <tr>
      <th scope="col">Row #</th>
      <th scope="col">UUID</th>
      <th scope="col">Location</th>
      <th scope="col">Date</th>
      <th scope="col">Status</th>
      <th scope="col">Type</th>
    </tr>
  </thead>
  <tbody>

    {% if dataRange %}
      {% for pph in dataRange %}
      <tr>
        <th scope="row">{{ pph.location.district.region.name }}</th>
        <td>{{ pph.location.district.name }}</td>
        <td>{{pph.location.name}}</td>
        <td>{{ pph.date }}</td>
        <td>Delivered</td>
        <td>Actual</td>
      </tr>
      {% endfor %}
    {% else %}
      <p>There are no statistics in the database.</p>
    {% endif %}


    <!-- <tr>
      <th scope="row">2</th>
      <td>0001</td>
      <td>Cardboard Box</td>
      <td>0:01</td>
      <td>At Location</td>
      <td>Planned</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2"></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td colspan="2"></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td colspan="2"></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td colspan="2"></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td colspan="2"></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td colspan="2"></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <td colspan="2"></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">10</th>
      <td colspan="2"></td>
      <td></td>
    </tr> -->
    
  </tbody>
</table>
{% endblock %}