{% extends 'opMetrics/base.html' %}

{% block content %}

<h1>Search Results:</h1>


  {% for location in object_list %}
    <strong>{{ event }}</strong>
  <ul>
    <div class="card" style="width: 18rem;">
      <h5 class="card-header">{{ location.location }}</h5>
      <div class="card-body">
        <h5 class="card-title">Senior Manager: {{ location.senior_Manager }} </h5>
        <p class="card-text">
          <strong>Division: {{ location.district.region.division }} <br></strong>
          <strong>Region: {{  location.district.region }} <br></strong>
          <strong>District: {{ location.district }} <br></strong>
          <strong>State: {{ location.state }} <br></strong>
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

  </ul>
  <br/>
  {% endfor %}

{% endblock %}