{% extends 'opMetrics/base.html' %}

{% block content %}

    <center>
        <h1>Volume Availability Status</h1>
    </center>

    <h4>Level:</h4>

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Level
        </button>

        <ol>
            <li><a class="dropdown-item" href="#">Region</a></li>
            <li><a class="dropdown-item" href="#">District</a></li>
            <li><a class="dropdown-item" href="#">Location</a></li>
            <li><a class="dropdown-item" href="#">Senior Manager</a></li>
        </ol>
    </div>

    <h4>Drill-down:</h4>
    <div class="input-group mb-3">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Select</button>

        <ol class="dropdown-menu">
            <li><a class="dropdown-item" href="#">On-Time Status</a></li>
            <li><a class="dropdown-item" href="#">Delay Minutes</a></li>
            <li><a class="dropdown-item" href="#">Early Arrival Minutes</a></li>
        </ol>

        <input type="text" class="form-control" aria-label="Text input with dropdown button">
    </div>

    <table>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Vehicle Type</th>
                <th scope="col">Truck/Flight Number</th>
                <th scope="col">Status/minutes</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Cargo Plane</td>
                <td>112</td>
                <td>Delayed</td>
            </tr>

            <tr>
                <th scope="row">2</th>
                <td>Semi-Truck</td>
                <td>044</td>
                <td>On Time</td>
            </tr>

            <tr>
                <th scope="row">3</th>
                <td colspan="2"></td>
                <td></td>
            </tr>

            <tr>
                <th scope="row">4</th>
                <td colspan="2"></td>
                <td></td>
            </tr>

            <tr>
                <th scope="row">5</th>
                <td colspan="2"></td>
                <td></td>
            </tr>

            <tr>
                <th scope="row">6</th>
                <td colspan="2"></td>
                <td></td>
            </tr>
        </tbody>
    </table>

{% endblock %}